body{
  background-color:burlywood;
}
html{
    scroll-behavior: smooth;
}
.parent{
    display: flex;
    text-align: center;
    height: 80vh;
}
.child1{
    background-color: blueviolet;
    width: 30%;
    display: grid;
   
}
.child2{
    background-color: burlywood;
    width: 70%;
    
}
.search-space{
    background-color:dimgray;
   text-align: center;
   height: 13vh;   
}
.movie-title{
    background-color: burlywood;
    height:15vh;
    text-align: center;
}
#searchbar{
    width:60%;
    height:30%;
    margin-top: 2%;
    font-size: 25px;
    border-radius: 50px;
    padding: 3px;
}
.search-butt{
    background:powderblue;
    border-radius: 20px;
   cursor: pointer;
  
}
.gc1{
    background-color:burlywood;
}
.gc2{
    background-color:burlywood;
}
#res{
    font-weight: 900;
    font-size: larger;
    
}
.film_post{
    width:400px;
    height:450px;
 
}
.star{
    width:10px;
}
.info{
display: flex;
 justify-content:space-around;
 font-size:larger;
 font-weight: 900;
}
.key_pts{

 justify-content: space-around;
 font-size: larger;
 font-weight: 900; 
}
.options{
    text-decoration: none;
    
}
nav{
 display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
 

}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
  
    position: relative;
}
#home-page{
    width:100%; 
    background-image: url(./images/background2.jpg);

}
.hry{
    width:400px;
}
.sections{
display:flex;
justify-content: center;


}
.section_child{
    margin: 10px 10px;
}
.moviee_rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-size: larger;

}
.moviee_rating h3{
    margin-top: 0px;
    background-color: black;
    
}
.moviee_rating span{
    margin-top: 0px;
   background-color: black;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.popular{
    font-size: 50px;
    color: aliceblue;
    font-weight: 900;
    text-align: center;
    background-color: black;
}
.ryr{
    font-weight:600;
}
.name{
    color:cadetblue;
    font-size: larger;
    font-weight: 1500;
   
}
.msg2{
    color: cadetblue;
}
.ryr{
    color:black;
}
.options:hover{
   background-color:cadetblue;
   color: black;
}

@media(max-width:1100px){

    .film_post{
        width:280px;
        height:320px;
     
    }

    #searchbar{
        width:60%;
        height:30%;
      
        margin-top: 2%;
        font-size: 10px;
        border-radius: 40px;
    }
    .search-butt{
        background:powderblue;
        border-radius: 20px;
       cursor: pointer;
       font-size: 8px;
      
    }
    .hry{
        width:100px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moviee_rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        font-size: x-small;
    
    }
    .popular{
        font-size: 20px;
        color: aliceblue;
        font-weight: 900;
        text-align: center;
        background-color: black;
    }
    nav ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        font-weight: 800;
      
        position: relative;
    }
    #page1{
        width:100%;   
        background-image: url(./images/background2.jpg);
    
    }


}
@media(max-width:900px){

    .film_post{
        width:280px;
        height:285px;
     
    }

    #searchbar{
        width:60%;
        height:30%;
      
        margin-top: 2%;
        font-size: 10px;
        border-radius: 40px;
    }
    .search-butt{
        background:powderblue;
        border-radius: 20px;
       cursor: pointer;
       font-size: 8px;
      
    }
    .hry{
        width:100px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moviee_rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        font-size: x-small;
    
    }
    .popular{
        font-size: 20px;
        color: aliceblue;
        font-weight: 900;
        text-align: center;
        background-color: black;
    }
    nav ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        font-weight: 800;
      
        position: relative;
    }
    #page1{
        width:100%;
        background-image: url(./images/background2.jpg);
    
    }
    .msg{
        font-size: 24px;
    }
    .msg{
        font-size: 19px;
    }
    .msg2{
        font-size: 25px;
    }
    .ryr{
        font-size: 19px;
    }
    .info{
       margin-top: -100px;
       margin-left: -10px;
    }
    .child1{
        background-color: burlywood;
        width: 35%;
        display: grid;
       
    }
    .child2{
        background-color: burlywood;
        width: 65%;
        
    }


}
@media(max-width:755px){

    .film_post{
        width:250px;
        height:230px;
     
    }

    #searchbar{
        width:60%;
        height:30%;
      
        margin-top: 2%;
        font-size: 10px;
        border-radius: 40px;
    }
    .search-butt{
        background:powderblue;
        border-radius: 20px;
       cursor: pointer;
       font-size: 8px;
      
    }
    .hry{
        width:100px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moviee_rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        font-size: x-small;
    
    }
    .popular{
        font-size: 20px;
        color: aliceblue;
        font-weight: 900;
        text-align: center;
        background-color: black;
    }
    nav ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        font-weight: 800;
      
        position: relative;
    }
    #page1{
        width:100%;
        background-image: url(./images/background2.jpg);
    
    }
    .msg{
        font-size: 15px;
    }
    .msg{
        font-size: 18px;
    }
    .msg2{
        font-size: 22px;
    }
    .ryr{
        font-size: 20px;
    }
    .info{
       margin-top: -100px;
       margin-left: -10px;
    }
    .child1{
        background-color: burlywood;
        width: 40%;
        display: grid;
       
    }
    .child2{
        background-color: burlywood;
        width: 60%;
        
    }


}
@media(max-width:618px){

    .film_post{
        width:200px;
        height:210px;
     
    }

    #searchbar{
        width:60%;
        height:30%;
      
        margin-top: 2%;
        font-size: 10px;
        border-radius: 40px;
    }
    .search-butt{
        background:powderblue;
        border-radius: 20px;
       cursor: pointer;
       font-size: 8px;
      
    }
    .hry{
        width:100px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moviee_rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        font-size: x-small;
    
    }
    .popular{
        font-size: 20px;
        color: aliceblue;
        font-weight: 900;
        text-align: center;
        background-color: black;
    }
    nav ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        font-weight: 800;
      
        position: relative;
    }
    #page1{
        width:100%;
        background-image: url(./images/background2.jpg);
    
    }
    .msg{
        font-size: 15px;
    }
    .msg{
        font-size: 15px;
    }
    .msg2{
        font-size: 20px;
    }
    .ryr{
        font-size: 16px;
    }
    .info{
       margin-top: -100px;
       margin-left: -10px;
    }
    .child1{
        background-color: burlywood;
        width: 40%;
        display: grid;
       
    }
    .child2{
        background-color: burlywood;
        width: 60%;
        
    }


}
@media(max-width:495px){

    .film_post{
        width:130px;
        height:130px;
     
    }

    #searchbar{
        width:60%;
        height:30%;
      
        margin-top: 2%;
        font-size: 10px;
        border-radius: 40px;
    }
    .search-butt{
        background:powderblue;
        border-radius: 20px;
       cursor: pointer;
       font-size: 8px;
      
    }
    .hry{
        width:100px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moviee_rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        font-size: x-small;
    
    }
    .popular{
        font-size: 20px;
        color: aliceblue;
        font-weight: 900;
        text-align: center;
        background-color: black;
    }
    nav ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        font-weight: 800;
      
        position: relative;
    }
    #page1{
        width:100%;
        background-image: url(./images/background2.jpg);
    
    }
    .msg{
        font-size: 15px;
    }
    .msg{
        font-size: 15px;
    }
    .msg2{
        font-size: 20px;
    }
    .ryr{
        font-size: 15px;
    }
    .info{
       margin-top: -100px;
       margin-left: -10px;
    }
    .child1{
        background-color: burlywood;
        width: 50%;
        display: grid;
       
    }
    .child2{
        background-color: burlywood;
        width: 50%;
        
    }


}
@media(max-width:376px){

    .film_post{
        width:100px;
        height:100px;
        margin-top: 40px;
     
    }

    #searchbar{
        width:60%;
        height:30%;
      
        margin-top: 2%;
        font-size: 10px;
        border-radius: 40px;
    }
    .search-butt{
        background:powderblue;
        border-radius: 20px;
       cursor: pointer;
       font-size: 8px;
      
    }
    .hry{
        width:100px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moviee_rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        font-size: x-small;
    
    }
    .popular{
        font-size: 20px;
        color: aliceblue;
        font-weight: 900;
        text-align: center;
        background-color: black;
    }
    nav ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        font-weight: 800;
      
        position: relative;
    }
    #page1{
        width:100%;
        background-image: url(./images/background2.jpg);
    
    }
    .msg{
        font-size: 15px;
    }
    .msg2{
        font-size: 15px;
    }
    .ryr{
        font-size: 7.5px;
    }
    .info{
       margin-top: -200px;
       margin-left: -10px;
    }
    .child1{
        background-color: burlywood;
        width: 60%;
        display: grid;
       
    }
    .child2{
        background-color: burlywood;
        width: 40%;
        
    }



}
@media(max-width:253px){

    .film_post{
        width:80px;
        height:100px;
     
    }

    #searchbar{
        width:60%;
        height:30%;
      
        margin-top: 2%;
        font-size: 10px;
        border-radius: 40px;
    }
    .search-butt{
        background:powderblue;
        border-radius: 20px;
       cursor: pointer;
       font-size: 8px;
      
    }
    .hry{
        width:100px;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .moviee_rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        font-size: x-small;
    
    }
    .popular{
        font-size: 20px;
        color: aliceblue;
        font-weight: 900;
        text-align: center;
        background-color: black;
    }
    nav ul li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 10px;
        font-weight: 800;
      
        position: relative;
    }
    #page1{
        width:100%;
        background-image: url(./images/background2.jpg);
    
    }
    .msg{
        font-size: 15px;
    }
    .msg{
        font-size: 15px;
    }
    .msg2{
        font-size: 15px;
    }
    .ryr{
        font-size: 7.5px;
    }
    .info{
       margin-top: -200px;
       margin-left: -10px;
    }
    .child1{
        background-color: burlywood;
        width: 60%;
        display: grid;
       
    }
    .child2{
        background-color: burlywood;
        width: 40%;
        
    }


}
@media(max-height:618px){
    .info{
        margin-top: 50px;
    }
}