* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
}

.navbar {
  /* background: crimson; */
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
.navbar .icon {
  display: none;
}
.nav-colored{
  background-color: rgba(0, 0, 0, 0.801);
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  position: fixed;
  opacity: 10px;
  z-index: 2;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin: 0.6%;
  align-items: center;
}
.menu li {
  display: inline-block;
  list-style: none;
}
.menu li a {
  color: #fff;
  font-size: 120%;
  padding: 0 7px;
  transition: all 0.3s ease-in;
}
.logo a {
  color: #fff;
  font-size: 190%;
  font-weight: 600;
  margin-left: 12px;
  padding: 0 80px;
}
.menu {
  padding-right: 20px;
}
.home {
  display: flex;
  background: url("assets/glenn-carstens-peters-P1qyEf1g0HU-unsplash-scaled.jpg")
    no-repeat center;
  height: 100vh;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}
.home-container {
  margin: auto 0 auto 40px;
}
.text-1{
    font-size: 200%;
}
.text-2{
    font-size: 500%;
    font-weight: 800;
}
.text-3{
    font-size: 300%;
}
.hireme{
    font-family: "Ubuntu", sans-serif;
    background-color: #ff7f00;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    border: 0;
    cursor: pointer;
    font-size: 180%;
    padding: 5px 30px;
    margin-top: 5px;
}
.text-3 span{
    color: #ff7f00;
    font-weight: 500;
}
.menu li a:hover{
    color: #ff7f00;
}
.logo a span{
    color: #ff7f00;
}
.about-text{
    /* display: block; */
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
    font-weight: bolder;
    font-size: 10vh;
    color: white;
}
.about{
    display: flex;
    flex-direction: row;
    background-image: url("assets/bgimg.webp");
    background-repeat: no-repeat;
    background-position: 100%;
}
.mypic{
    display: inline;
    height: 40vh;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    margin: 100px 20px;
}
.about p{
  font-size: 200%;
  padding: 20px;
  margin: 10px 100px;
  color: black;
  background-color: rgba(192, 192, 192, 0.729);
  border-radius: 2%;
  border-style: solid;
  border-color: rgb(147, 145, 145);
  border-width: 2px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-left: 20px;
  z-index: 1;
}
.about button{
  font-family: "Ubuntu", sans-serif;
  background-color: #ff7f00;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: 0;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 20px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.myskills{
  background-image: url("assets/bg3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.skilltxt{
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 10vh;
  color: white;
  padding: 20px 0;
}
.skillpic{
  padding: 50px 130px;
}
.skillpic img{
  height: 30vh;
  margin: 2px 2px;
}
.skillpic img:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.projects{
  background-image: url("assets/bg4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.projecttxt{
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 10vh;
  color: white;
  padding: 20px 0;
}
.prcontainer{
  display: flex; 
  flex-direction: column;  
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 40px 30px;
}
.prcontainer div:hover{
  transform: scale(1.05);
}
.prcontainer div{
  margin: 20px;
  box-shadow: 10px 10px 10px 5px gray;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 400px;
  width: 28%;
  position: relative;
}
.prcontainer img{
  width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
h2{
  text-align: center;
}
.projects p{
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
.contacttxt{
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 10vh;
  color: white;
  padding: 20px 0px;
}
.contact{
  background-image: url("assets/bg5.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.contactform{
  font-family: "Ubuntu", sans-serif;
  margin: 40px 250px;
  border-style: solid;
  border-radius: 2%;
  border-color: rgba(0, 0, 0, 0.808);
  border-width: 2px;
  color: white;
  background-color: rgba(16, 15, 15, 0.844);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  background-color: rgba(52, 48, 48, 0.813);
  color: white;
}
input[type="submit"]{
  font-family: "Ubuntu", sans-serif;
  background-color: #2a2827;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: 0;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 20px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}
h1{
    margin-bottom: 10px;

}   
h6{
    margin-top: 10px;
    
}
.head{
  padding: 2px 43px;
}
#header{
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
input[type="submit"]:hover{
  background-color: #ff7f00;
}
.socialtxt{
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 10vh;
  color: white;
  padding: 20px 0px;  
}
.social{
  background-image: url("assets/bg6.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
}
.handles img{
  height: 25vh;
  margin: 50px 70px;
  transition: transform .5s ease-in-out;
}
.social a{
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  font-weight: bolder; 
  color: black;
  margin-left: 20px;
}
.handles img:hover{
  transform: scale(1.3) rotate(25deg);
}

@media all and (min-width:946px) and (max-width:1350px){
  .prcontainer img{
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  }
  .prcontainer div{
    margin: 20px;
    box-shadow: 10px 10px 10px 5px gray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 223px;
    width: 28%;
    position: relative;
  }
}
@media all and (min-width:700px) and (max-width:946px){
  .menu li a {
    color: #fff;
    font-size: 100%;
    padding: 0 7px;
    transition: all 0.3s ease-in;
  }
.text-1{
  font-size: 145%;
}
.text-2{
  font-size: 300%;
  font-weight: 800;
}
.text-3{
  font-size: 180%;
}
.mypic{
  display: inline;
  height: 50vh;
  margin: 40px 10px;
}
.about-text{
  /* display: block; */
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: larger;
  font-weight: bolder;
  font-size: 12vh;
  color: white;
}
.about p{    
  font-size: 121%;
  margin-right: 20px;
}
.skilltxt{
  font-size: 12vh;
}
.skillpic img{
  height: 23vh;
}
.projecttxt{
  font-size: 12vh;
  padding: 10px 0;
}
.prcontainer div{
  height: 50vh;
}
.projects p{
  font-size: small;
}
.prcontainer{
  padding: 28px 30px;
}
.contacttxt{
  font-size: 12vh;
}
.contactform{
  margin: 28px 72px;
}
.socialtxt{
  font-size: 12vh;
}
.handles img {
  height: 26vh;
  margin: 22px 33px;
}
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
@media all and (max-width:700px){ 
    .menu :not(:last-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  .about p{
    margin: 6px 10px;
    font-size: 1rem;
  }
  .about-text{
    font-size: 1.5rem;
  }
  .about{
    display: inline-flex;
  }
  .about button{
    font-size: 15px;
  }
  .mypic{
    display: none;
  }
  .skillpic img{
    height: 3rem;
}
.skillpic{
  
  padding: 11px 10px;
}
.skilltxt{
  font-size: 1.5rem;
}
.projecttxt{
  font-size: 1.5rem;
  padding: 8px 0;
}
.projects{
  background-size: 107%;
}
.prcontainer{
  padding: 0 0;
}
.prcontainer div{
  height: 12vh;
}
h2{
  font-size: 8px;
}
.prcontainer p{
  font-size: 5px;
}
.projects p{
  font-size: 7px;
}
.contacttxt{
  font-size: 1.5rem;
  padding: 11px 0;
}
.contactform{
  margin: 12px 31px;
}
h1{
  font-size: 20px;
}
.head {
  padding: 1px 12px;
}
input[type="submit"] {
  font-size: 16px;
}
h6{margin-top: 0;}
.contact{
  background-size: 144%;
}
.socialtxt{
  font-size: 1.5rem;
}
.handles img {
  height: 6vh;
  margin: 11px 12px;
}
.social a{
  font-size: 10px;
}
.text-1{
  font-size: 150%;
}
.text-2{
  font-size: 206%;
}
.text-3{
  font-size: 164%;
}
.home{
  height: 60vh;
  background-position: 55%;
}
.logo a{
  margin-left: -59px;
}
}
@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  #menu li a{
    position: relative;
    font-size: 1rem;
    padding: 6px;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .logo{
    font-size: 1rem;
  }
  .menu.responsive li  {
    float: none;
    display: block;
    text-align: left;
  }
}
